* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 900px;
    margin: auto;
}

header {
    margin: 50px 0 12.5px 0;
    background-color: aqua;
}

#headerDiv {
    padding: 50px;
}

#headerDiv h1 {
    text-align: center;
    font-size: 3em;
}

main {
    margin: 12.50px 0 25px 0;
    background-color: palevioletred;
}

#instructionDiv {
    padding: 25px;
}

#instructionDiv h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 2.25em;
}

.picForm {
    text-align: center;
}

#picSubject {
    width: 300px;
    height: 30px;
}

#submitButton {
    height: 30px;
    width: 100px;
}

.picCard {
    margin: auto;
    text-align: center;
    overflow: hidden;
}

img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
    font-size: 2em;
    padding: 15px;
}


